body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.App {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  border: 3px ridge purple;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: rgb(53, 0, 53);
  display: block;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 20px;
}
