.Weather .city-and-time {
  padding-top: 15px;
}

.Weather .city-header {
  font-size: 40px;
  margin: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.Weather .last-updated-time {
  padding: 10px;
  text-align: right;
}

.Weather .current-time {
  font-size: 15px;
  font-weight: bold;
}

.Weather .text-last-updated {
  font-size: 15px;
}

.Weather .current-temp {
  font-size: 35px;
}

.Weather .units {
  position: relative;
  left: 4px;
  top: -12px;
}

.Weather .current-conditions {
  padding-top: 20px;
}
