.WeatherForecast h4 {
  font-weight: bold;
  margin-top: 30px;
}

.WeatherForecast .forecast {
  text-align: center;
  margin: 0;
}

.WeatherForecast canvas {
  width: 50px;
}

.WeatherForecast a {
  color: purple;
  text-decoration: underline;
}
