.Weather ul {
  list-style: none;
  padding: 0;
}

.Weather {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  border: 3px ridge purple;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: rgb(53, 0, 53);
  display: block;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 20px;
  max-width: 700px;
  min-width: 600px;
}

.Weather .button-search-current,
.Weather .search-input,
.Weather .submit-button {
  border-radius: 8px;
  border: 2px groove purple;
  color: purple;
  background-color: #e5fdfe;
}

.Weather :hover.button-search-current,
.Weather :hover.submit-button {
  border-radius: 8px;
  border: 2px groove purple;
  background: rgb(53, 0, 53);
  color: white;
  transition: ease-in-out;
}
