ul {
  list-style: none;
  padding: 0;
}

.Weather {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  border: 3px ridge purple;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: rgb(53, 0, 53);
  display: block;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 20px;
}

.button-search-current,
.search-input,
.submit-button {
  border-radius: 8px;
  border: 2px groove purple;
  color: purple;
  background-color: #e5fdfe;
}

:hover.button-search-current,
:hover.submit-button {
  border-radius: 8px;
  border: 2px groove purple;
  background: rgb(53, 0, 53);
  color: white;
  transition: ease-in-out;
}

.city-and-time {
  padding-top: 15px;
}

.city-header {
  font-size: 40px;
  margin: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.last-updated-time {
  padding: 10px;
  text-align: right;
}

.current-time {
  font-size: 15px;
  font-weight: bold;
}

.text-last-updated {
  font-size: 15px;
}

.current-temp {
  font-size: 35px;
}

.units {
  position: relative;
  left: 4px;
  top: -12px;
}

.current-conditions {
  padding-top: 20px;
}

.forecast {
  text-align: center;
  margin: 0;
}
