.WeatherCurrent .city-and-time {
  padding-top: 15px;
}

.WeatherCurrent .city-header {
  font-size: 40px;
  margin-bottom: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.WeatherCurrent .description {
  margin: 5px 0;
}

.WeatherCurrent .current-temp {
  font-size: 35px;
}

.WeatherCurrent .units {
  position: relative;
  left: 4px;
  top: -12px;
}

.WeatherCurrent a {
  color: purple;
  text-decoration: underline;
}

.WeatherCurrent .current-conditions {
  padding-top: 16px;
}
